.slick-prev:before,
.slick-next:before {
  color: black;
}

#panel1bh-content > div > div.Carousel {
  height: 200px;
}

.Carousel-activity-item {
  height: 180px;
}
.Carousel-activity-title {
  height: 100%;
  margin: 0 5px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  color: white;
  text-shadow: black 1px 1px 4px;
}

/* #panel1bh-content > div > div > div > div > div h3 {
  color: white;
} */

/* ============================================================================================
NEED TO CHANGE THESE BELOW (FRONT PAGE CAROUSEL)
============================================================================================ */

/* .Carousel {
  width: 80%;
  height: 200px;
  margin: 10px auto;
}

.Carousel img {
  width: 150px;
  height: 100px;
  margin: auto;
}

.Carousel .Carousel-papercito {
  border: 1px solid #e1e1e1;
  width: 50%;
  border-radius: 5px;
} */
