#panel1bh-content > div > ul > li > div.MuiListItemAvatar-root {
  text-align: center;
}

hr {
  border-top: 1px solid #3c5be6;
}

#panel1bh-content > div > ul.MuiList-root > li > button > span.MuiIconButton-label > svg {
  color: #3c4b86;
}
