html {
  height: 100%;
}

* {
  font-family: 'Raleway', sans-serif !important;
}

body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 1.7em;
}

.App {
  margin-top: 64px;
}

#root > div > div.Header-root-1 > header > div > button {
  margin-right: 0;
}

/* ============== HEADER BAR ============== */
#root
  > div
  > div.Header-root-1
  > header
  > div
  > div.MuiGrid-root.Header-title-2.MuiGrid-container.MuiGrid-spacing-xs-3
  > div:nth-child(1) {
  padding-right: 0;
}

#root
  > div
  > div.Header-root-1
  > header
  > div
  > div.MuiGrid-root.Header-title-2.MuiGrid-container.MuiGrid-spacing-xs-3
  > div:nth-child(2) {
  padding-left: 5px;
}
/* ============== END HEADER BAR ============== */
/* ============== LANDING ============== */

.Jumbotron-wrapper {
  display: flex;
  justify-content: center;
}

#root > div > div.MuiGrid-root.Landing.MuiGrid-container div.icon-strip {
  display: flex;
  justify-content: space-evenly;
}

#root > div > div.MuiGrid-root.Landing.MuiGrid-container div.icon-strip > svg {
  color: rgb(75, 75, 75);
}

#root > div > div.MuiGrid-root.Landing.MuiGrid-container > div > div > div.MuiCardContent-root {
  padding-bottom: 0;
}

/* ============== END LANDING ============== */

/* ============== BANNER ============== */
.Banner {
  display: flex;
  margin: 15px auto;
}

.Banner img {
  width: 300px;
  height: 120px;
}
/* ============== END BANNER ============== */

/* ============== BROWSE ============== */
/* ============== END BROWSE ============== */

/* ============== ITINERARIES ============== */
.Cities-cityList {
  margin-bottom: 50px;
}

.Itineraries-itineraryList {
  margin-bottom: 70px;
}
/* ============== END ITINERARIES ============== */
