.Registration-title {
  color: #353b53;
  margin: 70px 0 10px 0;
}

.Form-avatar {
  background-image: url('https://source.unsplash.com/lySzv_cqxH8');
  background-size: cover;
  background-position: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 1px solid grey;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form-mui-parent {
  padding: 0 15px 80px 0;
}

#root #show-password svg {
  color: #5f5f5f;
}

#dropdown {
  color: #5f5f5f !important;
  margin-right: 10px;
}

#submit-button.register {
  margin: auto;
  background-color: #ebebeb;
  color: white;
  width: 350px;
  max-width: 500px;
}

#submit-button.register.active {
  background-color: #353b53;
}

#submit-button.register.active:hover {
  background-color: #545e85;
}

#checkbox
  > span.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary
  > span.MuiIconButton-label
  > svg {
  color: #353b53;
}

#checkbox
  > span.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.Mui-checked.MuiIconButton-colorPrimary
  > span.MuiIconButton-label
  > svg {
  color: #353b53;
}

#checkbox {
  margin: 0;
  padding: 0 40px;
}

.Registration {
  background-color: white;
}
